@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --lightertan: #f2e9e4;
    --darkertan: #c9ada7;
    --magenta: #9a8c98;
    --blue: #4a4e69;
    --darkblue: #22223b;
    --offblack: #212121;
    --offwhite: #f4f3ee;
    --buttonblue: #77C4E6;
}

body {
    margin: 0 14rem 0 14rem;
    background-color: #E4DBD7;
    color: var(--offblack);
    max-width: 100vw;
    max-height: 100vh;
}

h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 5.4rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding-bottom: 2rem;
}

p,
strong {
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-template-rows: 1fr;
    gap: 2rem;
    overflow: auto;
}

.card {
    padding: 2rem;
    border: solid 5px var(--offblack);
    border-radius: 24px;
    background-color: #bfa89e;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 5px solid var(--offblack);
    border-radius: 2rem;
    z-index: 10;
    background-color: #E4DBD7;
    width: 80rem;
    max-width: 80%;
    max-height: 80rem;
    position: absolute;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

h3 {
    padding: 2rem 4rem;
    font-size: 4.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--offblack);
}

.x-btn {
    padding: 0 1rem;
    font-size: 3.6rem;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 4px;
}

.x-btn:hover {
    cursor: pointer;
}

.form-container {
    padding: 4rem;
    color: var(--offblack);
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.first {
    grid-area: 1 / 1 / 1 / -1;
}

label {
    font-weight: 700;
    font-size: 3rem;
}

input {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.8rem;
    color: var(--offblack);
    border-radius: 2rem;
    border: solid 3px var(--offblack);
    height: 4rem;
}

input:focus {
    outline: none;
    border-color: var(--buttonblue);
}

/* input:required:invalid {
    outline: none;
    border-color: red;
} */

#submit {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    padding: 1.6rem 4rem;
    width: auto;
    margin-left: 4rem;
    margin-bottom: 4rem;
    border: solid 3px var(--offblack);
    border-radius: 3rem;
    background-color: var(--buttonblue);
    margin-top: 3rem;
}

#submit:hover {
    background-color: hsl(198.4, 68.9%, 50%);
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.add-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 8rem;
    padding: 1rem 4rem;
    border: solid 5px var(--offblack);
    background-color: hsl(198.4, 68.9%, 68.4%);
    color: var(--offblack);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    border-radius: 50%;
}

.add-btn:hover {
    background-color: hsl(198.4, 68.9%, 50%);
    cursor: pointer;
}